{%extends "base.html"%}
{%block section%}Fun Spots{%endblock%}
{%block content%}
<div style="background-color: lightgray; vertical-align: middle;">
  {%for spot in spots%}
  <div class="card px-3 pt-3" style="max-width: 32rem; vertical-align: middle; margin:auto; margin-top: 10px;">
    <!-- News block -->
    <div>
      <!-- Featured image -->
      <div class="bg-image hover-overlay shadow-1-strong ripple rounded-5 mb-4" data-mdb-ripple-color="light">
        <img
          src="https://www.centralpark.com/downloads/4154/download/walk.jpe?cb=783665e2e86dabe11fdbe675f24e26c4&w=720&h="
          class="img-fluid" />
        <a href="#!">
          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
        </a>
      </div>


      <h5>{{ spot.place }}</h5>

      <p>
        {{ spot.name }}
      </p>


      <hr />

      <div class="row mb-4 border-bottom pb-2">
        <div class="col-3">
          <strong>Description:</strong>
        </div>

        <div class="col-9">
          <p class="mb-2">{{ spot.description }}</p>
        </div>
      </div>

    </div>

  </div>
  {%endfor%}
</div>
{%endblock%}