.home-container {
  width: 100%;
  left: 0px;
  height: 100px;
  display: flex;
  overflow: auto;
  align-items: center;
  flex-direction: column;
  background-color: #8b0ef3;
  vertical-align: text-bottom;
}

.home-text {
  color: #ffffff;
  font-family: sans-serif;
  font-weight: 700;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  margin-top: 10px;
  width: 100%;
}

.home-button {
  flex: 1;
  height: 50px;
  border: none;
  background-color: #8b0ef3;
  color: #ffffff;
  font-size: x-large;
  font-weight: 500;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;

}

.home-button:hover {
  background-color: #6d0dbb;
}

.welcome-container {
  background-color: #8b0ef3;

  position: relative;
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 100px;
  height: 600px;


}

.welcome-title {
  color: #ffffff;
  font-family: sans-serif;
  text-align: center;
}

.welcome-message {
  color: #ffffff;
  font-family: sans-serif;
}

/* CSS IDs are meant to be only for one particular element. The # means it is an id and not a class */
.purple-button {
  background-color: #8b0ef3;
}

.purple-button:hover {
  background-color: #6d0dbb;
}

.top-bar {
  position: sticky;
  top: 0;
  z-index: 9999;
}


.new-button {
  background-color: #8b0ef3;
  color: #ffffff;
  font-size: x-large;
  font-weight: 500;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border: none;
  position: fixed;
  top: 0;
  right: 0;
  margin-right: 10px;

  margin-top: 5px;
  z-index: 9999;
}