<!DOCTYPE html>
<html>
<head>
	<title>Open Door</title>
	<link rel="stylesheet" href="./static/home.css">
</head>
<body>
  <div>
    <div class="home-container">
      <span class="home-text">
        Open Door
      </span>
    </div>
    <div class="button-container">
      <button type="button" class="home-button button">
        Profile
      </button>
      <button type="button" class="home-button button">
        Events
      </button>
      <button type="button" class="home-button button">
        Fun Spots
      </button>
    </div>
  </div>
</body>
</html>